
<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>

<script>
  window.logo = "<%= image_path("logo.png") %>"
  window.user_icon = "<%= image_path("user_icon.png") %>"
  window.homepage = "<%= image_path("homepage.jpg") %>"
  window.album = "<%= image_path("album.jpg") %>"
  window.logoin = "<%= image_path("logoin.jpg") %>"

</script>


<main id="root"></main>
